*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background: url("../images/swwp-bg.svg") no-repeat center center fixed;
  background-size: cover;
  background-color: #000;
  font-family: "ZohoPuviExtBold", sans-serif;
}
.hide {
  display: none;
}
.toplogo {
  background-color: #000;
  padding: 1em 0;
  color: #ffffff;
  text-align: center;
  font-size: 1.75em;
}
.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
@media only screen and (max-width: 820px) {
  .toplogo {
    font-size: 1.5em;
  }
}
