.box {
  width: 70%;
  margin: auto;
  text-align: center;
}
.difficultybuttons {
  display: inline-block;
  width: 24%;
  background-color: #f9d54f;
  min-height: 8em;
  line-height: 8em;
  border-radius: 0.6em;
  margin-right: 2em;
  font-size: 3em;
}
.difficultybuttons:nth-child(2n-1) {
  transform: rotate(-10deg);
}
.difficultybuttons:nth-child(2) {
  transform: rotate(10deg);
}
.difficultybuttons:last-child {
  margin: unset;
}
.difficultybuttons:hover,
.difficultybuttons:active {
  background-color: #ff5353;
  transform: rotate(0deg);
  font-size: 3.2em;
}
/* IPad Screens */
@media only screen and (max-width: 820px) {
  .box {
    width: 50%;
  }
  .difficultybuttons {
    width: 100%;
    font-size: 1.5em;
    min-height: 6em;
    line-height: 6em;
    margin: unset;
    margin-bottom: 1.5em;
  }
  .difficultybuttons:nth-child(n) {
    transform: unset;
  }
  .difficultybuttons:hover,
  .difficultybuttons:active {
    font-size: 1.4em;
  }
}
/* Mobile Screens */
@media only screen and (max-width: 500px) {
  .difficultybuttons {
    font-size: 1.2em;
  }
}
