input:focus {
  outline: none;
}
.wrapper {
  display: grid;
  grid-template-columns: 25% 60% 15%;
  padding-left: 1em;
  row-gap: 2em;
}
.scoresection {
  grid-row: 1 / span 2;
  grid-column: 1;
  border-radius: 1em;
  border: 1px solid #e9eaec;
  background-color: #ffffff;
  color: #212121;
  padding: 1.375em;
  min-height: 40em;
}

.scoreheader {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  border: none;
  margin-bottom: 2em;
}
.scoreheader h1 {
  font-size: 1.25em;
  font-family: "ZohoPuviMedium", sans-serif;
}

#level {
  font-family: "ZohoPuviBold", sans-serif;
  font-size: 1.875em;
}
.streakpoints {
  display: flex;
  font-size: 1em;
  font-family: "ZohoPuviLight";
  margin-bottom: 2em;
}
#points,
#streak {
  font-size: 2em;
  font-family: "ZohoPuviRegular";
}

.streakpoints > p {
  text-align: center;
  margin: 0 auto;
}
.wordstrack {
  display: flex;
  justify-content: space-between;
}
.wordsans,
.wordsmiss {
  font-size: 1em;
  font-family: "ZohoPuviBold";
  color: #212121;
  height: 25em;
  overflow: scroll;
}
#wordsanswered,
#wordsmissed {
  font-family: "ZohoPuviThin";
  font-size: 0.8em;
}
.timer {
  color: #ffffff;
  font-size: 0.8em;
  font-family: "ZohoPuviSemibold";
  text-align: center;
  min-height: 8em;
  line-height: 6em;
  position: relative;
  width: 60%;
  z-index: 5;
  grid-area: 1/3;
  justify-self: center;
  align-self: center;
}
.timer-static,
.timer-light {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: -1;
}
.timer-static {
  padding: 0.2em;
  width: 100%;
}
.timer-light {
  width: 75%;
  top: 25%;
}
.timerprop {
  display: inline-block;
  margin-top: 2em;
}

.playsection {
  grid-column: 2 / span 2;
  grid-row: 1;
  align-self: end;
}
#usertext {
  font-family: "ZohoPuviBold", sans-serif;
  font-style: italic;
  font-size: 2em;
  border: none;
  padding: 0.4em;
  background-color: #ffffff;
  color: #c9c6d9;
  width: 100%;
}
#skipbtn {
  background-color: #f9d54f;
  color: #212121;
  border-radius: 0.4em;
  font-size: 1.6em;
  padding: 0.4em 1.5em;
  text-align: center;
  display: inline-block;
  font-family: "ZohoPuviRegular", sans-serif;
  font-style: italic;
  font-style: italic;
  justify-self: center;
  align-self: start;
  grid-area: 2/3;
}
#skipbtn:hover{
  background-color: #ff5353;
}
.cluesection {
  color: #ffffff;
  width: 100%;
  font-family: "ZohoPuviRegular", sans-serif;
  font-size: 1.2em;
  text-align: center;
  padding: 0 1em;
  grid-area: 2/2;
  align-self: start;
}
.st1 {
  stroke: #ffffff;
  stroke-linecap: round;
}
@media only screen and (max-width: 850px) {
  .wrapper {
    grid-template-columns: 1fr 1fr;
    row-gap: 4em;
    margin-top: 2em;
    padding: unset;
  }
  .cluesection {
    font-size: 2em;
    grid-row: 1;
    grid-column: 1/-1;
  }
  .timer {
    width: 75%;
    grid-column: 1/-1;
    grid-row: 2;
    font-size: 1.2em;
  }
  .timer-static {
    width: 30%;
  }
  .timer-light {
    width: 23%;
  }
  .playsection {
    grid-row: 3;
    grid-column: 1/-1;
  }
  #skipbtn {
    grid-area: 4/2;
    justify-self: center;
    align-self: center;
    padding: 0.5em 2em;
    font-size: 2em;
  }
  .scoresection {
    grid-area: 4/1;
    min-height: unset;
    justify-self: center;
    align-self: center;
    padding: 1.5em;
  }
  .streakpoints {
    margin: unset;
    font-size: 1.2em;
  }
  .streakpoints p:first-child {
    margin-right: 1em;
  }
  .scoreheader,
  .wordstrack {
    display: none;
  }
}
@media only screen and (max-width: 500px) {
  .wrapper {
    row-gap: 2.5em;
  }
  .cluesection {
    font-size: 1em;
  }
  .timer {
    width: 100%;
    font-size: 0.8em;
  }
  #skipbtn {
    font-size: 1.5em;
    padding: 0.4em 1.5em;
  }
  .scoresection {
    padding: 0.5em;
  }
  .streakpoints {
    font-size: 1em;
  }
  #usertext {
    font-size: 1.5em;
  }
}
